<h1 align = "center">Testing Results</h1>

# Accessibility Testing

## WAVE Web Accessibility Evaluation Tool

_Currently Playing Page_

![WAVE Web Accessibility Evaluation Tool Results - Currently playing](assets/rm_files/wave-results-currently-playing-page.png)

_Games to Watch Page_

![WAVE Web Accessibility Evaluation Tool Results - games to watch](assets/rm_files/wave-results-games-to-watch-page.png)

_All Time Favourites Page_

![WAVE Web Accessibility Evaluation Tool Results - all time favourites](assets/rm_files/wave-results-all-time-favourites-page.png)

## Google Lighthouse

### Mobile

_Currently Playing Page_

![Google lighthouse Results Mobile - Currently playing](assets/rm_files/lighthouse-results-currently-playing-mobile.png)

_Games to Watch Page_

![Google lighthouse Results Mobile - Games to Watch](assets/rm_files/lighthouse-results-games-to-watch-mobile.png)

_All Time Favourites Page_

![Google lighthouse Results Mobile - All time favourites](assets/rm_files/lighthouse-results-all-time-favourites-mobile.png)



### Desktop

_Currently Playing Page_

![Google lighthouse Results Desktop - Currently playing](assets/rm_files/lighthouse-results-currently-playing-desktop.png)

_Games to Watch Page_

![Google lighthouse Results Desktop - Games to Watch](assets/rm_files/lighthouse-results-games-to-watch-desktop.png)

_All Time Favourites Page_

![Google lighthouse Results Desktop - All time favourites](assets/rm_files/lighthouse-results-all-time-favourites-desktop.png)


# Responsive Testing

## Google's Mobile Friendly Tester

_Currently Playing Page_

![Google's Mobile Friendly Tester - Currently playing](assets/rm_files/mobile-friendly-test-currently-playing.png)

_Games to Watch Page_

![Google's Mobile Friendly Tester - Games to Watch](assets/rm_files/mobile-friendly-test-games-to-watch.png)

_All Time Favourites Page_

![Google's Mobile Friendly Tester - Games to Watch](assets/rm_files/mobile-friendly-test-all-time-favourites.png)
