@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");


/*---General---*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

header, 
body, 
footer {
    font-family: 'Poppins', sans-serif;
}

/*---Site background colouring---*/
.navbar-colouring, 
footer {
  background: linear-gradient(to bottom, #686767fa, #000000);
}


/*---Navbar---*/
.navbar {
    margin-bottom: 0;
    width: 100%;
    border: 0;
    z-index: 1;
}

.nav-link {
    list-style-type: none;
    color: #fafafa;
}

.active {
    text-decoration: underline;
}

/*---Footer---*/
footer {
    min-height: 120px;
    padding: 10px 15px;
    color: #fafafa;
    text-align: center;
}